/* Base */
body {
  line-height: 1.7;
  color: gray;
  font-weight: 300;
  font-size: 1.1rem;
  font-family: 'Helvetica';
  margin: 0px;
  background-color: #5b6770;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b30738;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  color: white;
}

li a:hover {
  background-color: #862633;
}

#map {
  height: 500px;
  width: 960px;
}
